.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.navpad{
    padding-top: 10px;
    padding-right: 25%;
}
#navend{
    padding-left: 10px;
}
}
.fl{
    float: left;
}
.imgsize{
    width: 200px;
}
#logopad{
    margin-left: 150px;
}