.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.navpad{
    padding-right: 20%;
}
#navleft{
    padding-left: 10%;
}
#navright{
    padding-right: 10%;
}
}
.fl{
    float: left;
}
.imgsize{
    width: 200px;
}
#logopad{
    margin-left: 15%;
}
p{
    color:#555555
}
a{
    color:#F3C300
}
#navcolor{
    background-color: #006FCD
}
.pluslink{
    color: #006FCD
}
#plusbackground{
    background-color:#F3C300
}